*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Main */
#main{
    

}

/* common */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.333%;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.text-center{
    text-align: center !important;
    color: #2196f3;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}



/* header */

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #708090;
    z-index: 1;
}
#header .search-btn{
    float: right;
    padding: 0px 21px; 
    
}
#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;

}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#nav {
    display: inline-block;
}
/* Bỏ dấu chấm */
#nav  .subnav {
    list-style-type: none;

}
#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    /* Bỏ Gạch Chân  */
    text-decoration: none;
    line-height: 46px; 
    padding: 0 24px;
    display: block;
} 
#nav li:hover .subnav {
    display: block;

}
#nav > li:hover > a,
#nav .subnav li:hover  {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
#nav .subnav a {
    color: #000;

    
}
#nav .nav-around-down{
    font-size: 14px;
}
/* 
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;

} */

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
     background: url('/assets/css/img/slider/slider3.jpg') top  center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;

}
#slider .text-heading{
    font-weight: bold;
    font-size:  30px;

}
#slider .text-description{
    font-size: 19   px;
    margin-top: 25px;

}
#content{

}
#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;

}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 26px;
    font-style: italic;
    opacity: 0.6;

}
#content .about-text{
    font-size: 15px;
    margin-top: 30px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 165px;
    border-radius: 4px;
}
/* Tour section */
.tour-section{
    background-color: #000;
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.ticket-list li {
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.ticket-list .Sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}
.ticket-list .quantity{
    float: right;
    width: 26px;
    height: 26px;
    background-color: #000;
    color: #fff;
    border-radius: 16px;
    text-align: center;
    line-height: 25px;
    margin-top: -4px;
}
/* places */
.places-list{
    margin-top: 32px;
    margin-bottom: 48px;
}
.places-img{
    width: 100%;
    display: block;
}
.places-img:hover{
    opacity: 0.6;
}
.places-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}
.places-heading{
    font-size: 15px;
}
.places-time{
    margin-top: 15px;
    color: #757575;       
}
.places-dsc{
    margin-top: 15px;  
    line-height: 1.4; 
}
.places-buy-btn{
    color: #fff;
    background-color: #333;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.places-buy-btn:hover
{
    color: #000;
    background-color: #ccc;
}
#footer{

}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0 ,0 ,0 , 0.3);
    align-items: center;
    justify-content: center;
    display: flex;

}

.modal.open {
    display: flex;
} 
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgba(0 ,0 ,0 , 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;  
    position: relative;
    animation: modalFaceIn ease .4s;

}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal .modal-heading-icon{
    margin-right: 16px;
}
.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
}
.modal-input {
    padding: 10px;
    border: 1px solid;
    width: 100%;
    font-size: 15px;
}

.modal-label {
    margin-bottom: 12px;
}

.modal-input {
    margin-bottom: 24px;
}
button#buy-ticket:hover {
    opacity: 0.9;
}
#buy-ticket {
    background: #009688;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
    
}

.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a{
    color: #2196f3;

}
@keyframes modalFaceIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.contact-form{
    margin-top: 48px;

}
